[access "refs/*"]
	owner = group user/François Charoy (charoy)
[access "refs/for/refs/*"]
	read = group user/François Charoy (charoy)
	push = group user/François Charoy (charoy)
	label-Code-Review = -2..+2 group user/François Charoy (charoy)
	label-Verified = -1..+1 group user/François Charoy (charoy)
	rebase = group user/François Charoy (charoy)
	removeReviewer = group user/François Charoy (charoy)
	submit = group user/François Charoy (charoy)
[access "refs/heads/*"]
	read = group user/François Charoy (charoy)
	create = group user/François Charoy (charoy)
	push = +force group user/François Charoy (charoy)
	pushMerge = group user/François Charoy (charoy)
[access "refs/tags/*"]
	push = +force group user/François Charoy (charoy)
	pushTag = group user/François Charoy (charoy)
	pushSignedTag = group user/François Charoy (charoy)
